nbody_sh1/ffmpeg.exe
treecode/ffmpeg.exe
sphere_100.gif
sphere_300.gif
sphere_1000V2.gif
sphere_1000V3.gif

sphere.in
sphere.out
sphere_10k_0.03.out
sphere_10k_0.5.out
sphere_100k.out
sphere_100k_0.3.out
sphere_1000p_5e5m_100r_out.txt

plummer.in
plummer.out
plummer_5k.out
plummer_10k.out
plummer_100k.out
plummer_100k.gif

friction.in
friction.out
friction_5k.out
friction_10k.out
friction_100k.out
friction_2Dhist_10k_0.05M.mp4
friction_2Dhist_10k_0.05M_t4.mp4
friction_10k_0.05M_90quantile.mp4

numpy_arrays/

treecode/log.txt
log.txt
